:root{
    --primatext-colorry:#212121 ;
--accent-text-color:#2196F3;
--text-color:#757575;
--logo-color-header:#000000;
--color-white:#FFFFFF;
--bgcolor-black:#2F303A;
--adress-color:rgba(255, 255, 255, 0.6);
--background-color: #E5E5E5;
--background-color-team: #F5F4FA;;
}
/* font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */
.body,
.body-portfolio {
font-family: 'Roboto',
        sans-serif;
}
.header{
    background: var(--color-white);
    color: var(--primatext-colorry);
}
